/* ====================HEADER=================== */

.header-container {
    position: fixed;
    background-color: transparent;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    z-index: 2;
    color: #fff;
}

.header-container-horizontal {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
}

.header-is-active {
    background-color: #fff;
    box-shadow: 0px 0px 11px 0px #0000009e
}

.logo-container img {
    width: 180px;
}

.icon-x {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 40px;
    font-weight: 900;
}

.menu-container {
    position: fixed;
    right: -100vw;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.menu {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-is-active {
    right: 0;
    color: #000000;
}

.links li {
    height: 40px;
    text-align: center;
}

.links a {
    color:#fff;
    font-weight: 700;
    font-size: 1.3em;
}

.menu-mobile-container span{
    font-weight: 1000;
}


/* ====================HEADER=================== */