@media screen and (min-width:320px){
    /* Nothing for now*/
    
}

@media screen and (min-width:480px){ 
    .banner-description {
        width: 60%;
    }

    .visa-container-countries {
        grid-template-columns: repeat(4,1fr);
    }

    /* Visa  */

    .visa-page-form h1 {
        color: #000000;
        text-align: center;
        margin: 10px;
    }

    .name-and-tel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .tel {
        margin-left: 10px;
    }

    .name {
        width: 100%;
    }
}

@media screen and (min-width:768px){
    /* header */
    .links a {
        font-size: 1.1em;
    }

    /* Menu  */
    .menu-container {
        position: static;
        transition: .3s;
        width: auto;
    }

    .menu {
        background: none;
        width: auto;
        height: auto;
    }
    

    .menu-mobile-container, .icon-x {
        display: none;
    }

    .links li {
        text-align: center;
        display: inline-block;
        margin: 10px;
        height: auto;
    }


    /* Banner  */
    .banner-description {
        font-size: 2.3em;
    }

    .banner-description p {
        font-size: .6em;
    }

    /* Travel  */

    .visa-container h2 {
        font-size: 3.5em;
    }

    .visa-container p {
        font-size: 1.3em;
    }

    /* Visa  */

    .visa-page-form {
        width: 60%;
        padding: 20px 40px;
    }


}

@media screen and (min-width:1024px){

    h2 {
        font-size: 2.8em;
    }

    /* Banner  */
    .banner-description {
        font-size: 3em;
    }

    /* Publiciy Section  */
    .publicity-container {
        overflow-x: hidden;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    }

    .publicity-text h3{
        font-size: 2.3em;
    }

    .publicity-text p {
        font-size: 1.1em;
    }

    /* Travel  */
    .travel {
        display: flex;
        height: 350px;
    }

    .travel-section {
        grid-template-columns: none;
    }

    .travel-img {
        width: 100%;
        height: 100%;
    }

    .travel-img img {
        height: 100%;
    }

    .travel-text {
        padding: 60px 40px 40px 0;
        margin-left: 35px;
    }

    .travel-text h3 {
        text-align: left;
        font-size: 2em;
    }

    .travel-button {
        text-align: left;
    }

    .travel-text p {
        font-size: 1.2em;
    }

    .travel-small p {
        font-size: 2.5em;
        font-weight: bolder;
    }

    .travel-small small {
        font-size: 1.2em;
    }

    .travel-content {
        justify-content: flex-start;
    }

    /* Country Section   */  
    .country-container {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 10px;
    }
    
    .country-container2 {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: 10px;
    }

    /* Footer */
    .footer {
        height: 400px;
    }
    .footer-container {
        margin-bottom: 80px;
    }
    .footer-content h5 {
        font-size: 1.8em;
    }
    .footer-content a {
        font-size: 1.3em;
    }
    .sub-footer p {
        font-size: 1.2em;
    }
    .sub-footer a {
        font-size: 1.2em;
    }
}

@media screen and (min-width:1200px){

}


