@media screen and (min-width:320px){
    /* Nothing for now*/
    
}

@media screen and (min-width:480px){ 
    .banner-description {
        width: 60%;
    }

    .visa-container-countries {
        grid-template-columns: repeat(4,1fr);
    }

    /* Visa  */

    .visa-page-form h2 {
        text-align: center;
    }

    .name-and-tel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .tel {
        margin-left: 10px;
    }

    .name {
        width: 100%;
    }
}

@media screen and (min-width:768px){
    /* header */
    .links a {
        font-size: 1.1em;
    }

    /* Banner  */
    .banner-button input {
        background-color: #ffffff;
        border-radius: 30px;
        padding: 10px 50px;
        font-weight: 600;
        margin: 0 auto;
        border: none;
        outline: none;
        font-size: 1.5em;
        cursor: pointer;
        transition: .3s;
    }

    /* Menu  */
    .menu-container {
        position: static;
        transition: .3s;
        width: auto;
    }

    .menu {
        background: none;
        width: auto;
        height: auto;
    }
    

    .menu-mobile-container, .icon-x {
        display: none;
    }

    .links li {
        text-align: center;
        display: inline-block;
        margin: 10px;
        height: auto;
    }


    /* Banner  */
    .banner-description {
        font-size: 2.3em;
    }

    .banner-description p {
        font-size: .6em;
    }

    /* Travel  */

    .visa-container h2 {
        font-size: 3.5em;
    }

    .visa-container p {
        font-size: 1.3em;
    }

    /* Visa  */

    .visa-page-form {
        width: 60%;
        padding: 20px 40px;
    }

}

@media screen and (min-width:1024px){

    h2 {
        font-size: 2.8em;
    }

    /* Banner  */
    .banner-description {
        font-size: 3em;
    }

    /* Publiciy Section  */
    .publicity-container {
        overflow-x: hidden;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    }

    .publicity-text h3{
        font-size: 2.3em;
    }

    .publicity-text p {
        font-size: 1.1em;
    }
}

@media screen and (min-width:1200px){

}


