/* =====================VARIABLES==================== */

:root {
    --turquesa: #66B1B3;
    --celeste: #7CD7D9;
    --celesteB: #75CACC;
    --turquesaVerdoso: #2C4C4D;
    --turquesaAzulado: #508B8C;
}


/* =====================VARIABLES==================== */


/* =====================GENERAL==================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

.container-horizontal {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
}

.container-vertical {
    padding: 50px 0;
}


/* =====================GENERAL==================== */


/* ====================HEADER=================== */

.header-container {
    position: fixed;
    background-color: transparent;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    z-index: 2;
}

.header-is-active {
    background-color: #fff;
    box-shadow: 0px 0px 8px 1px #000;
}

.logo-container img {
    width: 160px;
}

.icon-x {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 50px;
    font-weight: 900;
}

.menu-container {
    position: fixed;
    background-color: hsl(0, 0%, 100%, 0.623);
    top: 0;
    right: -100vw;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.menu-is-active {
    right: 0;
}

.menu li,
a {
    text-align: center;
    color: hsl(0, 0%, 0%);
    height: 40px;
    font-weight: 600;
}


/* ====================HEADER=================== */



/* ====================BANNER=================== */
.banner {
    background-image: url(../images/young-woman-1745173_1920.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* ====================BANNER=================== */



/* ====================TRAVEL=================== */

.travel-section {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 20px;
    justify-content: center;
}

.travel {
    width: 100%;
}

.travel-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.travel-text {
    background-color: #171A1A;
    position: relative;
    height: 70px;
    margin-top: -30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.travel-text h3 {
    color: var(--turquesaAzulado);
    text-transform: uppercase;
}

.travel-text p {
    color: #FF8800;
}

/* ====================TRAVEL=================== */